/* Estilos gerais */
.home body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url('../assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.home .container {
  background: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  width: 90%;
}

.home h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.home h2 {
  font-size: 1.8rem;
  color: #34495e;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #ecf0f1;
  padding-bottom: 0.5rem;
}

.home p, li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.home p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.home ul {
  list-style: none;
  padding: 0;
}

.home ul li {
  margin: 2rem 0; /* Aumentei o espaçamento vertical entre os botões */
}

.home ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 2px solid #fff;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.home ul li a:hover {
  background: #fff;
  color: #3498db;
}

.home strong {
  color: #2c3e50;
}

.home a {
  color: #3498db;
  text-decoration: none;
}

.home a:hover {
  text-decoration: underline;
}

.home .back-link {
  display: inline-block;
  margin-top: 2rem;
  color: #e74c3c;
  font-weight: bold;
}